/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* Liberally stolen from Paul Irish */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  background: url("http://img09.deviantart.net/7bf4/i/2011/282/c/b/dbz_heroes_by_c_dubbkitari5_v2_by_bk_81-d4cbe7e.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.pic {
  height: 120px; }

.left {
  width: 120px;
  position: absolute;
  margin-left: 21%;
  margin-top: 1.5%; }

.right {
  width: 120px;
  position: absolute;
  margin-left: 67.5%;
  margin-top: -37.2%; }

li .good {
  color: orange;
  background-color: red;
  border: solid 5px navy;
  border-radius: 20px;
  margin-left: 3%; }

.topname img {
  border: solid 5px navy;
  border-radius: 20px;
  display: block;
  width: 110px;
  position: relative; }

.display {
  color: navy;
  height: 500px;
  width: 500px;
  display: block;
  background-color: orange;
  margin-left: 30%;
  margin-top: 10%;
  border: solid 20px red;
  border-radius: 50px;
  text-align: center;
  font-size: 30px; }

.name img {
  border: 5px solid purple;
  border-radius: 20px;
  display: block;
  width: 110px;
  position: relative; }

li .bad {
  color: red;
  background-color: green;
  border: solid 5px purple;
  border-radius: 20px; }

.top {
  color: red;
  background-color: orange;
  border: solid 5px navy;
  border-radius: 10px;
  margin-left: 30%; }

.bottom {
  color: red;
  background-color: black;
  border: 5px solid purple;
  border-radius: 10px;
  margin-left: 30%; }

.rightSide {
  position: absolute; }
