@import 'reset';

@import 'bourbon';
@import 'neat';
@import 'border-box';


html{
  background: url("http://img09.deviantart.net/7bf4/i/2011/282/c/b/dbz_heroes_by_c_dubbkitari5_v2_by_bk_81-d4cbe7e.png");

}

h3{
font-size:50px;
text-align: center;
color:red;
font-family: sans-serif;
position: relative;
}

.select{
  background-color:blue;
  color:#FFBD00;
  border:
  solid 5px orange;
  border-radius:10px;
  width:120px;
  font-size:15px;
  text-align:center;
  font-family:sans-serif;

}




.whichFighter {
  position: absolute;

}
.select:active .pic{

}



.display{

  height:500px;
  width:500px;
  background-color: orange;
  border:solid 40px #FFBD00;
  border-radius: 400px;
  margin-left:30%;
  margin-top:5%;
  position:absolute;

}

.good .name{
  color: red;
  background-color: blue;
  border:solid 3px orange;
  border-radius:10px;
   font-size:10px;
 margin-top:55%;
 margin-left: 5%;
 position:absolute;

}
.bad .name{
  color: yellow;
  background-color: green;
  border:solid 3px purple;
   font-size:10px;
 margin-top:55%;
 margin-left: 5%;
 border-radius:10px;
 position:absolute;
}

.good .pic{
  height:89px;
  width:100px;
  border:5px solid blue;
    border-radius: 10px;

}
 .bad .pic{
   height:89px;
  width:100px;
  border:5px solid green;
  border-radius: 10px;
 }






